<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="form">
      <form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
        <!-- Form Group -->
        <div class="form-group">
          <label for="email">Email: </label>
          <input
            type="email"
            name="email"
            id="email"
            class="form-control"
            formControlName="email"
            [class.is-invalid]="isInvalid('email')"
            autocomplete="off"
            />
          <small class="invalid-feedback" *ngIf="hasError('email', 'required')">
            Email is required
          </small>
          <small class="invalid-feedback" *ngIf="hasError('email', 'email')">
            Not a valid email format
          </small>
        </div>
        <!-- /Form Group -->
        <!-- Form Group -->
        <div class="form-group">
          <label for="password">Password: </label>
          <input
            type="password"
            name="password"
            id="password"
            class="form-control"
            autocomplete="new-password"
            formControlName="password"
            [class.is-invalid]="isInvalid('password')"
          />
          <small
            class="invalid-feedback"
            *ngIf="hasError('password', 'required')"
          >
            Password is required
          </small>
          <small
            class="invalid-feedback"
            *ngIf="hasError('password', 'minlength')"
          >
            Passowrd must be 6 characters long or more
          </small>
        </div>
        <!-- /Form Group -->

        <button
          type="submit"
          [disabled]="loginForm.invalid"
        >
          Login
        </button>

        <!-- Or seperator -->
        <div class="or"><span>OR</span></div>
        <!-- Social buttons -->
        <button type="button" class="social-btn btn-google" (click)="loginWithGoogle()">Login with Google</button>
        <button type="button" class="social-btn btn-github" (click)="loginWithGithub()">Login with Github</button>
      </form>
    </div>
  </div>
</div>
