<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="form">
      <form class="login-form" [formGroup]="registerForm" (ngSubmit)="register()">
        <!-- Form Group -->
        <div class="form-group">
          <label for="email">Email: </label>
          <input
            type="email"
            name="email"
            id="email"
            class="form-control"
            formControlName="email"
            [class.is-invalid]="isInvalid('email')"
          />
          <small class="invalid-feedback" *ngIf="hasError('email', 'required')">
            Email is required
          </small>
          <small class="invalid-feedback" *ngIf="hasError('email', 'email')">
            Not a valid email format
          </small>
        </div>
        <!-- /Form Group -->
        <!-- Form Group -->
        <div class="form-group">
          <label for="password">Password: </label>
          <input
            type="password"
            name="password"
            id="password"
            class="form-control"
            autocomplete="new-password"
            formControlName="password"
            [class.is-invalid]="isInvalid('password')"
          />
          <small
            class="invalid-feedback"
            *ngIf="hasError('password', 'required')"
          >
            Password is required
          </small>
          <small
            class="invalid-feedback"
            *ngIf="hasError('password', 'minlength')"
          >
            Passowrd must be 6 characters long or more
          </small>
        </div>
        <!-- /Form Group -->
        <!-- Form Group -->
        <div class="form-group">
          <label for="password_confirm">Password: </label>
          <input
            type="password"
            name="password_confirm"
            id="password_confirm"
            class="form-control"
            autocomplete="new-password"
            formControlName="password_confirm"
            [class.is-invalid]="isInvalid('password_confirm')"
          />
          <small
            class="invalid-feedback font-weight-bolder"
            *ngIf="hasError('password_confirm', 'required')"
          >
            Confirm password is required
          </small>
          <small
            class="invalid-feedback font-weight-bolder"
            *ngIf="hasError('password_confirm', 'password_confirm')"
          >
            Passwords don't match
          </small>
        </div>
        <!-- /Form Group -->

        <button type="submit" [disabled]="registerForm.invalid">
          Register
        </button>

        <!-- Or seperator -->
        <div class="or"><span>OR</span></div>
        <!-- Social buttons -->
        <button type="button" class="social-btn btn-google" (click)="registerWithGoogle()">
          Login with Google
        </button>
        <button type="button" class="social-btn btn-github" (click)="registerWithGithub()">
          Login with Github
        </button>
      </form>
    </div>
  </div>
</div>
