<div class="chat row">
  <div class="col-md-2 col-sm-4 col-4 p-0 users">
    <ul class="users-list">
      <li
        class="list-group-item list-group-item-action rounded-0"
        *ngFor="let user of users | async"
      >
        <a [routerLink]="['/chat', user.userID]" routerActiveLink="active" *ngIf="user.userID != currentUser.uid">
          {{ user.email }}
        </a>
      </li>
    </ul>
  </div>
  <div class="col chat-box">
    <!-- Messages -->
    <div class="messages">
      <div *ngFor="let msg of messages | async">
        <div class="msg-owner" 
        >
        <!-- [class.msg]="user.userID != currentUser.uid"
        [class.msg-owner]="user.userID == currentUser.uid" -->
          <div class="msg-text">{{ msg.content }}</div>
        </div>
      </div>

      <!-- Owner -->
      <!--       
      <div class="msg-owner">
        <div class="msg-text">Hello There</div>
      </div>
   -->
    </div>
    <!-- /Messages -->
    <!-- Form -->
    <div class="msg-form">
      <form [formGroup]="msgForm" (ngSubmit)="send()">
        <textarea
          name="msg"
          id="msg"
          rows="1"
          class="form-control rounded-0"
          formControlName="msg"
        ></textarea>
        <input
          type="hidden"
          name="to"
          formControlName="to"
          [(ngModel)]="roomID"
        />
        <button type="submit" [disabled]="msgForm.invalid" style="text-align: center;">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="19.11"
            height="19.11"
            viewBox="0 0 19.11 19.11"
          >
            <path
              id="ic_send_24px"
              d="M.007,12.441,14.586,6.22.007,0,0,4.838,10.418,6.22,0,7.6Z"
              transform="translate(0 10.314) rotate(-45)"
              fill="#fff"
            />
          </svg>
        </button>
      </form>
    </div>
    <!-- /Form -->
  </div>
</div>
