<div class="container-fluid">
  <div class="row">
    <!-- Chat channels -->
    <div class="col-lg-2 col-sm-3 col-4 bg-danger px-0">
      <ul class="list-group">
        <li
          class="list-group-item list-group-item-action rounded-0"
          *ngFor="let n of range(50)"
        >
          <a href="#" class="">Hello</a>
        </li>
      </ul>
    </div>
    <!-- /Chat channels -->
    <!-- Current chat -->
    <div class="col bg-warning chat px-0">
      <!-- Chat Header -->
      <div class="chat-header p-2 bg-white">
        Somthing is here
      </div>
      <!-- /Chat Header -->

      <!-- Chat box -->
      <div class="chat-box p-2 bg-light">
        <div class="message my-3 d-flex" *ngFor="let n of range(20)">
          <img
            width="50"
            height="50"
            class="rounded-circle mr-2"
            src="https://s3.amazonaws.com/cdn.roosterteeth.com/uploads/images/9f58190f-e4e8-4050-9c5b-8f480daa7fa4/original/3546448-1532389725233-F-Society.jpg"
          />
          <div class="msg bg-primary text-white p-2">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia corrupti, esse dignissimos cumque possimus itaque at vitae accusantium veniam aliquam perspiciatis enim velit sunt placeat ea corporis error! Eaque, sint.
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia corrupti, esse dignissimos cumque possimus itaque at vitae accusantium veniam aliquam perspiciatis enim velit sunt placeat ea corporis error! Eaque, sint.
          </div>
        </div>
      </div>
      <!-- /Chat box -->

      <!-- Input box -->
      <div class="bg-white">
        <div class="form-group m-0">
          <textarea
            name="msg"
            id="msg"
            cols="30"
            rows="5"
            class="form-control rounded-0"
          ></textarea>
          <button type="submit" class="btn btn-primary text-whight-bolder rounded-0">Send</button>
        </div>
      </div>
      <!-- /Input box -->
    </div>
    <!-- /Current chat -->
  </div>
</div>
