<!-- Navbar -->
<nav class="navbar">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="nav-container col">
      <ul class="navbar-nav mr-auto">
        <li class="nav-brand">
          <a routerLink="/">Brand</a>
        </li>
        <li *ngIf="isLogged">
          {{ user.email }}
        </li>
      </ul>

      <!-- Logout -->
      <ul class="navbar-nav ml-auto" *ngIf="isLogged">
        <li>
          <span class="toggle"></span>
        </li>
        <li>
          <a (click)="logout()">Logout</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto" *ngIf="!isLogged">
        <li>
          <a routerLink="/login" routerLinkActive="active">Login</a>
        </li>
        <li>
          <a routerLink="/register" routerLinkActive="active">Register</a>
        </li>
      </ul>
    </div>
    <div class="col-md-1"></div>
  </div>
</nav>
<!-- /Navbar -->
